$gunPowder: #43425d;
$lightRed: #fd5858;
$blackOpacity: #00000010;
$navigationSlider: #a3a0fb;
$navigationIcon: #a5a4bf;
$pageBackground: #f0f0f7;
$activeTabPrimary: #3b86ff;
$lightBlue: #f5f6fa;
$green: #69e4a6;
$red: #ff7285;
$greenLight: #69e4a620;
$redLight: #ff728520;
$orangeLight: #facb0620;
$rebeccapurpleLight: #7c49de20;
$orange: #ff9e2e;
$middleLevel: #6f6f7e;
$smallLevel: #b8b8b9;
$analyticsLilac: #8f8bff;
$analyticsLightLilac: #a3a0fb;
$analyticsLightGreen: #5fe3a1;
$analyticsLightTurquoise: #56d9fe;
$analyticsLightOrange: #ffa973;
$analyticsLightYellow: #f5df68;
$analyticsLightRed: #ff8373;
$analyticsLightPink: #fc8ca2;
$analyticsLightBlue: #69a1fc;
$rankGoldBg: #ffba56;
$rankGoldBorder: #ffe27a;
$rankSilverBg: #9e9e9e;
$rankSilverBorder: #e0e0e0;
$rankBronzeBg: #ce7430;
$rankBronzeBorder: #ff9838;
$rankPlatinumBg: #556fe6;
$rankPlatinumBorder: #778beb;
$rankOtherBg: #3ec1d3;
$rankOtherBorder: #64cddb;
$conditionItemBackground: #43425d3b;
$instagram: #3d6e95;
$twitter: #16b9f5;
$youtube: #de2c26;
$facebook: #3c589d;
$blog: #f58c24;
$email: #d24d3f;
$lightGreen: #41c823;
$lightBlack: #2e2e2e;
$pointAdded: #ffe27a80;
$pointAddedText: #ff9700;
$pointCharged: #ffb9b980;
$pointChargedText: #fd5858;
$lightPurple: #9b59b6;
$darkYellow: #f1c40f;
$myPageAction: #310f0f;
$alertLightRed: #fdfaeb;

:export {
  navigationDrawer: $gunPowder;
  blackOpacity: $blackOpacity;
  navigationSlider: $navigationSlider;
  navigationIcon: $navigationIcon;
  pageBackground: $pageBackground;
  activeTabPrimary: $activeTabPrimary;
  lightBlue: $lightBlue;
  greenLight: $greenLight;
  redLight: $redLight;
  orangeLight: $orangeLight;
  rebeccapurpleLight: $rebeccapurpleLight;
  orange: $orange;
  green: $green;
  red: $red;
  middleLevel: $middleLevel;
  smallLevel: $smallLevel;
  analyticsLilac: $analyticsLilac;
  analyticsLightLilac: $analyticsLightLilac;
  analyticsLightGreen: $analyticsLightGreen;
  analyticsLightTurquoise: $analyticsLightTurquoise;
  analyticsLightRed: $analyticsLightRed;
  analyticsLightBlue: $analyticsLightBlue;
  analyticsLightPink: $analyticsLightPink;
  analyticsLightOrange: $analyticsLightOrange;
  analyticsLightYellow: $analyticsLightYellow;
  rankGoldBg: $rankGoldBg;
  rankGoldBorder: $rankGoldBorder;
  rankSilverBg: $rankSilverBg;
  rankSilverBorder: $rankSilverBorder;
  rankBronzeBg: $rankBronzeBg;
  rankBronzeBorder: $rankBronzeBorder;
  rankPlatinumBg: $rankPlatinumBg;
  rankPlatinumBorder: $rankPlatinumBorder;
  rankOtherBg: $rankOtherBg;
  rankOtherBorder: $rankOtherBorder;
  lightRed: $lightRed;
  conditionItemBackground: $conditionItemBackground;
  instagram: $instagram;
  twitter: $twitter;
  youtube: $youtube;
  facebook: $facebook;
  blog: $blog;
  email: $email;
  lightGreen: $lightGreen;
  lightBlack: $lightBlack;
  pointAdded: $pointAdded;
  pointAddedText: $pointAddedText;
  pointCharged: $pointCharged;
  pointChargedText: $pointChargedText;
  lightPurple: $lightPurple;
  darkYellow: $darkYellow;
  myPageAction: $myPageAction;
  alertLightRed: $alertLightRed;
}
