.button-position {
  bottom: 60px;
  right: 10px;
}
::v-deep {
  .v-slider__thumb {
    min-width: 21px;
    min-height: 21px;
    border: 1px solid #e5e5e5 !important;
    &::before {
      content: normal;
    }
  }
  .v-slider__thumb-label {
    border-radius: 0;
    height: auto !important;
    font-size: 15px;
    font-weight: bold;
    bottom: -33px;
    left: -11px;
    color: grey;
    background-color: transparent !important;
    transform: none !important;
    div {
      transform: none;
    }
  }
  .v-slider__track-container {
    min-height: 14px;
    div {
      border-radius: 10px;
    }
  }
  .v-slider--horizontal {
    margin: 0;
  }
}
