.button-position {
  bottom: 60px;
}

.items-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
}

@media screen and (min-width: 1300px) {
  .items-grid {
    grid-gap: 30px;
  }
}

@media screen and (max-width: 899.9px) {
  .items-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
}

@media screen and (max-width: 640px) {
  .items-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
}

@media screen and (max-width: 374.9px) {
  .items-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}
